<html>
<head>
	<title>Change Password</title>
</head>
<body>
	<div>
		<form action="" method="post">
			<table>
			<tr>
				<td>
					<label>Current Password:</label>
				</td>
				<td>
					<input type="text" required="required" name="curr_password"></input>
				</td>
			</tr>
			<tr>
				<td>
					<label>New Password:</label>
				</td>
				<td>
					<input type="password" required="required" name="new_password"></input>
				</td>
			</tr>
			<tr>
				<td>
					<label>Confirm Password:</label>
				</td>
				<td>
					<input type="password" required="required" name="conf_password"></input>
				</td>
			</tr>
			<tr>
				<td>
					<input type="submit" value="CHANGE PASSWORD" name="submit"></input>
				</td>
			</tr>
			</table>
		</form>	
		{% if error %}
			<div name="error">{{error}}</div>
		{% endif %}
		<br>
	</div>
</body>
</html>
