<html>
<head>
	<title>Change Password</title>
</head>
<body>
	<div>
		<form action="" method="post">
			Current Password : <input type="text" required="required" name="curr_password"></input><br>
			New Password : <input type="password" required="required" name="new_password"></input><br>
			Confirm Password : <input type="password" required="required" name="conf_password"></input><br>
			{% if error %}
				<div name="error">{{error}}</div>
			{% endif %}
			<input type="submit" value="CHANGE PASSWORD" name="chg_passwd"></input>
		</form>	
		<br>
	</div>
</body>
</html>