<html>
<head>
	<title>FORGOT PASSWORD</title>
</head>
<body>
	<div>
		<form action="/forgot_passwd/" method="post">
			<label>Username:</label>
			<input type="text" placeholder="Username" name="username"><br>
			<label>Security Question:</label>
			<input type="text" placeholder="Security Question" name="sec_ques"><br>
			<label>Security Answer:</label>
			<input type="text" placeholder="Security Answer" name="sec_ans"><br>
			<input type="submit" name="submit" value="Submit">	

		</form>
	</div>
				<!--
					<form action="" name="forgot">
						<select id="sec_ques" name="password" size="1">
							<option value="What is your's father's name?">What is your's father's name?</option>
							<option value="What is your's pet name?">What is your's pet name?</option>
							<option value="What is your's school in 2nd standard?">What is your's school in 2nd standard?</option>
							<option value="Who is your best friend in 11th standard">Who is your best friend in 11th standard?</option>
						</select>
					</form>-->
</body>	
</html>